h1 a, h2 a {
    color: #C25100;
    font-family: 'Papyrus';
}

body {
    padding-left: 15px;
}

.page-header {
  background-color: #87c075;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 20px 20px 20px 40px;
  border: 3px solid #547c52;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #FFFFFF;
  font-size: 36pt;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Papyrus', cursive;
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea,
.post-form input {
  width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

.post {
  background-color: #d5eace;
  margin-bottom: 70px;
  border: 2px solid #618d5e;
  width: 500px;
  height: 85%;
}

.post-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.post_detail {
  background-color: #d5eace;
  border: 2px solid #618d5e;
}

.postimage {
  width: 370px;
  height: 300px;
  border: 2px solid #618d5e;
}

.post h2 a,
.post h2 a:visited {
  color: #000000;
}

.post > .date,
.post > .actions {
  float: right;
}

.btn-secondary,
.btn-secondary:visited {
  color: #C25100;
  background: none;
  border-color: #C25100;
}

.btn-secondary:hover {
  color: #FFFFFF;
  background-color: #C25100;
}
